.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px 100px;
}

@media screen and (max-width: 670px) {
  .cards {
    gap: 30px;
  }
}