.khan__quote {
  max-width: 790px;
  margin: 0 0 36px;
  font-size: 24px;
  line-height: 34px;
}

@media screen and (max-width: 670px) {
  .khan__quote {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 24px;
  }
}