.feynman__title {
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  max-width: 648px;
  width: 100%;
  margin: 0 auto 70px;
  padding-top: 100px;
}

@media screen and (max-width: 800px) {
  .feynman__title {
    font-size: 42px;
    padding-top: 46px;
  }
}