.feynman__link {
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  background-color: rgba(242, 242, 242, 0.5);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.feynman__link:hover {
  opacity: .6;
}

@media screen and (max-width: 800px) {
  .feynman__link {
    font-size: 24px;
    line-height: 26px;
  }
}