.section-title {
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0 0 20px;
  text-align: center;
  color: #000;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 670px) {
  .section-title {
    font-size: 32px;
    margin-bottom: 10px;
  }
}