.section-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
  color: #000;
  position: relative;
  z-index: 1;
  margin: 0;
}

@media screen and (max-width: 670px) {
  .section-subtitle {
    font-size: 18px;
    line-height: 21px;
  }
}