.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f2f2;
  margin-bottom: 100px;
  overflow: hidden;
  z-index: 1;
}

@media screen and (max-width: 670px) {
  .header {
    margin-bottom: 50px;
  }
}