.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
  margin-bottom: 100px;
}

@media screen and (max-width: 670px) {
  .khan__quote {
    padding: 30px 0;
    margin-bottom: 50px;
  }
}