.cards__item {
  max-width: 240px;
  text-align: center;
  width: 100%;
}

.cards__item:first-of-type {
  margin-top: 60px;
}

@media screen and (max-width: 670px) {
  .cards__item:first-of-type {
    margin-top: 30px;
  }
}