.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .feynman__subtitle {
    font-size: 24px;
    line-height: 26px;
  }
}