.table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  max-width: 1100px;
  width: 100%;
  margin: 60px auto 0;
  padding: 0 24px;
}

@media screen and (max-width: 670px) {
  .table {
    margin-top: 30px;
    max-width: 270px;
  }
}