.header__subtitle {
  font-size: 18px;
  line-height: 25px;
  max-width: 388px;
  margin: 0;
  background-color: rgba(242, 242, 242, 0.5);
  border-radius: 10px;
  padding: 5px;
}

@media screen and (max-width: 670px) {
  .header__subtitle {
    font-size: 16px;
    line-height: 22px;
  }
}