.khan__title {
  margin: 0 0 50px;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}

@media screen and (max-width: 670px) {
  .khan__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}