.feynman__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;
  padding: 0 10px;
}

@media screen and (max-width: 670px) {
  .feynman__content {
    grid-template-columns: 1fr;
  }
}