.two-columns {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 15px;
  margin: 0 auto;
  padding: 0 24px;
}

@media screen and (max-width: 1280px) {
  .two-columns {
    grid-template-columns: 1fr;
  }
}