.header__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 64px;
}

@media screen and (max-width: 670px) {
  .header__content {
    margin: 20px 24px;
  }
}