.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  max-width: 730px;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 670px) {
  .header__title {
    font-size: 42px;
    line-height: 38px;
  }
}