.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .3s;
}

.khan__buy-link:hover {
  opacity: .6;
}

@media screen and (max-width: 670px) {
  .khan__buy-link {
    font-size: 21px;
    line-height: 24px;
  }
}